.list {
  list-style: none;
  margin: 20px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
}
.titlePost {
  width: 80vw;
  margin: 0 auto;
  padding: 10px 10px;
  color: #ff6b01;
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  border-bottom: 2px solid #ff6b01;
}
.titleSpan {
  color: #fff;
}
.open {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #ff6b01;
  border: transparent;
}
.item {
  position: relative;
  padding: 0;
  font-size: 18px;
  transition: 0.2s;
}
.link {
  text-decoration: none;
  font-size: 12px;
  line-height: 1.166;
}
.image {
  width: 280px;
  height: 398px;
  display: block;
  border-radius: 5px;
}
.name {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #ff6b01;
}

@media screen and (min-width: 768px) {
  .list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 620px;
  }
  .titlePost {
    padding: 30px 10px;
  }
  .open {
    display: none;
  }
  .item {
    margin: 15px;
  }
  .name {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .list {
    width: 930px;
  }
  .titlePost {
    width: 81vw;
  }
}
@media screen and (min-width: 1300px) {
  .list {
    width: 1240px;
  }
  .titlePost {
    width: 90vw;
  }
}
@media screen and (min-width: 1600px) {
  .list {
    width: 1550px;
  }
  .titlePost {
    width: 93vw;
  }
}
