.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.item {
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}
.item:nth-child(odd) {
  background: #f9f9f9;
}
.link {
  text-decoration: none;
}
