body {
  margin: 0;
}
:root {
  --bgc-color-button: #ff6b01;
}
.contain {
  margin-top: 20px;
}
.link + .link {
  margin-left: 20px;
}
.menu {
  display: none;
}

.link {
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.3;
  border-radius: 4px;
}

.activeLink {
  background-color: var(--bgc-color-button);
  color: white;
}
.link:hover {
  background-color: var(--bgc-color-button);
  color: white;
}
.deck {
  position: absolute;
  top: 15px;
  left: 15px;
  display: block;
  margin-right: 10px;
  text-decoration: none;
}
.title__contain {
  text-align-last: left;
}
.title {
  color: #fff;
  font-size: 26px;
  line-height: 1.3;
}
.title__post {
  color: var(--bgc-color-button);
  display: block;
  font-size: 14px;
}
.list {
  margin-top: 80px;
  display: flex;
  list-style: none;
  justify-content: center;
}

.hidden {
  display: none;
}

.header {
  background-image: url("../../images/wraithOfTheTitanMob1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* min-width: 300px; */
  min-height: 230px;
  padding: 20px 10px;
  text-align: center;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url("../../images/wraithOfTheTitanMob1.jpg");
  }
}
@media screen and (min-width: 500px) {
  .header {
    min-height: 350px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    background-image: url("../../images/wraithOfTheTitan.jpg");
    min-width: 768px;
    min-height: 500px;
  }
  .menu {
    display: inline-flex;
  }
  .list {
    margin: 0;
    padding: 0;
  }
  .item {
    padding: 0;
    margin: 0;
  }
  .hidden {
    display: block;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: url("../../images/wraithOfTheTitan.jpg");
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    background-image: url("../../images/wraithOfTheTitan.jpg");
    min-width: 1024px;
    min-height: 700px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header {
      background-image: url("../../images/wraithOfTheTitan.jpg");
    }
  }
}
@media screen and (min-width: 1181px) {
  .header {
    min-height: 800px;
  }
}
@media screen and (min-width: 1531px) {
  .header {
    min-height: 900px;
  }
}
@media screen and (min-width: 1605px) {
  .deck {
    margin-right: 450px;
  }
  .link {
    font-size: 26px;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1776px) {
  .header {
    min-height: 1100px;
  }
}
@media screen and (min-width: 2116px) {
  .header {
    min-height: 1350px;
  }
}
