.container {
  display: flex;
  padding: 10px;
}
.title {
  font-weight: bold;
  text-align: center;
  margin: 0;
}
.overview {
  font-weight: bold;
  font-size: 26px;
  line-height: 1.3;
  margin: 0;
}
.overview__content {
  width: 60%;
}
.images {
  display: block;
  width: 220px;
  height: 330px;
}

.rigth__side {
  margin-left: 30px;
}
