.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}
.close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}
.modal {
  position: relative;
  width: 984px;
  height: 656px;
  background-color: #fff;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
  .frame {
    width: calc(280px + 20vw);
    height: calc(213px + 10vw);
  }
  .modal {
    width: calc(280px + 20vw);
    height: calc(213px + 10vw);
  }
}
@media screen and (min-width: 500px) {
  .frame {
    width: calc(395px + 20vw);
    height: calc(300px + 10vw);
  }
  .modal {
    width: calc(395px + 20vw);
    height: calc(300px + 10vw);
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
  .frame {
    width: calc(600px + 20vw);
    height: calc(456px + 10vw);
  }
  .modal {
    width: calc(600px + 20vw);
    height: calc(456px + 10vw);
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
  .frame {
    width: calc(800px + 20vw);
    height: calc(656px + 10vw);
  }
  .modal {
    width: calc(800px + 20vw);
    height: calc(656px + 10vw);
  }
}
