.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1200;
}

.modal {
  width: 984px;
  height: 656px;
  background-color: #fff;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
    margin: 0 auto;
  }
  .frame {
    width: 280px;
    height: 213px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .frame {
    width: 768px;
    height: 512px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
  }
  .frame {
    width: 984px;
    height: 656px;
  }
}
